# Vm base info configs
#
[base]
# Guest vm id.
id = 1
# Guest vm name.
name = "linux-qemu"
# Virtualization type.
vm_type = 1
# The number of virtual CPUs.
cpu_num = 1
# Guest vm physical cpu sets.
phys_cpu_ids = [0]

#
# Vm kernel configs
#
[kernel]
# The entry point of the kernel image.
entry_point = 0x9000_0000
# The location of image: "memory" | "fs".
# load from memory.
image_location = "fs"
# The file path of the kernel image.
# kernel_path = "linux-6.6.62.bin"
kernel_path = "/guest/images/qemu_riscv64_linux/qemu-riscv64"
# The load address of the kernel image.
kernel_load_addr = 0x9000_0000
# The file path of the device tree blob (DTB).
dtb_path = "/guest/images/linux-riscv64-qemu-smp1.dtb"
# The load address of the device tree blob (DTB).
dtb_load_addr = 0x9200_0000

# Memory regions with format (`base_paddr`, `size`, `flags`, `map_type`).
# For `map_type`, 0 means `MAP_ALLOC`, 1 means `MAP_IDENTICAL`.
memory_regions = [
    [0x9000_0000, 0x4000_0000, 0x7, 2], # System RAM 1G MAP_IDENTICAL
]

#
# Device specifications
#
[devices]
# Pass-through devices.
# Name Base-Ipa Base-Pa Length Alloc-Irq.
passthrough_devices = [
    # ["/soc/serial@10000000", 0x1000_0000, 0x1000_0000, 0x1000, 33],
]

# Passthrough addresses.
# Base-GPA  Length.
passthrough_addresses = [
    [0x1000_0000, 0x1000],     # uart
    [0x1000_1000, 0x8000],     # virtio-mmio
]

# Devices that are not desired to be passed through to the guest
excluded_devices = [
]

# Emu_devices.
# Name Base-Ipa Ipa_len Alloc-Irq Emu-Type EmuConfig.
emu_devices = [
    ["plic", 0x0c00_0000, 0x60_0000, 0, 0x30, [2]],     # [context_num]
]

interrupt_mode = "passthrough"
