name: Test CI

on: [push, pull_request, workflow_dispatch]

jobs:
  board-test:
    name: "Test ${{ matrix.board }} - ${{ matrix.vmconfigs_name }}"
    strategy:
      matrix:
        include:
          # - board: phytiumpi
          #   vmconfigs: .github/workflows/vmconfigs/linux.toml,.github/workflows/vmconfigs/arceos.toml
          #   vmconfigs_name: Linux + ArceOS
          # - board: phytiumpi
          #   vmconfigs: .github/workflows/vmconfigs/arceos.toml
          #   vmconfigs_name: ArceOS Only
          - board: roc-rk3568-pc
            vmconfigs: configs/vms/arceos-aarch64-e2000-smp1.toml
            vmconfigs_name: ArceOS Only
            # Multiple image archive names separated by commas, for example, roc-rk3568-pc_arceos.tar.gz,roc-rk3568-pc_linux.tar.gz[,...]
            vmimage_name: roc-rk3568-pc_arceos.tar.gz
    runs-on:
      - self-hosted
      - linux
      - ${{ matrix.board }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies (${{ matrix.board_name }})
        run: cargo +stable install -f --git https://github.com/ZR233/ostool  ostool

      - name: Download guest images
        run: |
          mkdir -p images
          cd images
          IFS=',' read -ra IMAGES <<< "${{ matrix.vmimage_name }}"
          for img in "${IMAGES[@]}"; do
            img=$(echo "$img" | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')
            echo "Downloading $img"
            wget https://github.com/arceos-hypervisor/axvisor-guest/releases/latest/download/$img
            tar -xzf $img
          done
          cd ..

      - name: Patch VM config files
        run: |
          echo "Patching ${{ matrix.vmconfigs }}..."
          img_name="${{ matrix.vmimage_name %.tar.gz }}"
          sed -i 's|^kernel_path[[:space:]]*=.*|kernel_path = "./images/'"$img_name"'"|' "${{ matrix.vmconfigs }}"
          echo "Updated kernel_path in ${{ matrix.vmconfigs }}"

      - name: Run tests  
        run: |
          echo $BOARD_POWER_RESET
          export RUST_LOG=debug
          # cargo xtask uboot \
          #   --build-config configs/board/${{ matrix.board }}.toml \
          #   --uboot-config .github/workflows/uboot.toml \
          #   --vmconfigs ${{ matrix.vmconfigs }}
          cargo xtask uboot \
            --build-config configs/board/${{ matrix.board }}.toml \
            --uboot-config .github/workflows/uboot.toml
